.container{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1em;
    height: 100vh;
}

.content {
    padding-top: 20%;
}

.section-name {
    font-size: 6em;
}

.program {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 1em;
}

li:hover {
    background-color: gray;
    font-size: 1.1em;
    cursor: pointer;
}

.nav{
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto 2em auto;
    padding: 2em;
    background-color: #242424;
}

.box{
    width: 80%;
    text-align: center;
    margin: auto;
}

.text{
    margin: 5%;
}

.picture-text{
    padding: 20px;
    margin: 100px auto;
}

img{
    display: block;
    margin: auto;
}

table{
    margin: 100px auto;
}

tr, td{
    padding: 30px;
}